.container{
    text-align: center;
}

.title{
    margin-top: 50px;
    color: wheat;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    animation-duration: 2.25s;
    animation-name: fadeInTitle;
    animation-timing-function: ease;
}

.title span{
    color: aqua;
    padding-left: 15px;
}
.reset{
    width: 180px;
    height: 55px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    background-color: grey;
    font-size: 25px;
    color: aqua;
    margin-top: 50px;
    margin-bottom: 50px;

    animation-name:fadeInResetButton ;
    animation-duration: 2.25s;
}
.boxes{
    display: flex;
    height: 150px;
    width: 150px;
    background-color: #1f3540;
    border: 4px soil #0f1b21;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
    justify-content: center;

    animation-duration: 2s;
    animation-name: spinboxes;
    animation-timing-function: ease;
}
.board{
    height: 500px;
    width: 524px;
    display: flex;
    margin: auto;
}

.boxes img{
    margin: 50px 50px;
}

.title img{
    padding: 20px 20px;
    height: 50px;
}

@keyframes spintitle{
    0%{

    }
    100%{
        transform: rotate(360deg);
     }   
}

@keyframes spinboxes{
    0%{
        border-radius: 50px;
        scale: 0.5;
    }

    50%{
        scale: 0.75;
        border-radius: 30px;
     }  

     75%{
        border-radius: 5px;
     }  

    100%{
        transform: rotate(360deg);
        border-radius: 10px;
        scale: 1;
     }   
}


@keyframes fadeInTitle {
    0% {
      opacity: 0;
      scale: 3;
    }
    100% {
      opacity: 1;
      scale: 1;
    }
  }

  @keyframes fadeInResetButton {
    0% {
      opacity: 0;
      scale: 1.5;
    }
    100% {
      opacity: 1;
      scale: 1;
    }
  }